* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(198, 223, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-top: 200px;
  margin-bottom: 20px;
  background-color: black;
  width: 200px;
  height: 300px;
}

.img-btn {
  margin-left: 50px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid black;
}

.img-btn:hover {
  filter: brightness(75%);
}
