* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Quicksand;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(179, 19, 38);
}

.todo-container {
  width: 50vw;
  height: 80vh;
  background-color: gray;
  margin: 0 auto;
  border-radius: 4%;
  border: 2px solid white;
  overflow: hidden;
}

.todo-title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.items-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}

.incomplete-items {
  margin-right: 5%;
}

.item-title {
  border-bottom: 5px solid black;
  font-size: 2rem;
  margin-top: 2%;
}

.add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.items {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  margin-top: 1%;
  border-radius: 3%;
  overflow: hidden;
}

.label {
  font-size: 2rem;
}

.submit-btn {
  font-size: 1.2rem;
}

.list-item {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 7px;
}

.list-item:hover {
  filter: brightness(75%);
  transform: scale(1.1);
  color: rgb(207, 47, 47);
}
